In [10]:
library(tidyverse)
library(dslabs)
library(ggthemes)

In [17]:
data(heights)
data(murders)

In [27]:
murders <- murders %>% mutate(murder_rate = total / population * 10^5)

Dot placeholder

In [12]:
us_murder_rate <- murders %>% summarize(rate = sum(total) / sum(population) * 10^5) %>% .$rate
us_murder_rate

[1] 3,034555

Group By:
It is usefull to first split data into groups and then compute summaries for each group. The output object is a "group data frame" as oposed to a data frame and dplyr functions will behave differently. See below:

In [30]:
heights %>% 
    group_by(sex) %>%
    summarize(average = mean(height), std_deviation = sd(height))

  sex    average  std_deviation
1 Female 64,93942 3,760656
2 Male   69,31475 3,611024

In [29]:
murders %>%
    group_by(region) %>%
    summarize(median_rate = median(murder_rate))

  region        median_rate
1 Northeast     1,802179
2 South         3,398069
3 North Central 1,971105
4 West          1,292453

dplyr.arrange() | desc() | top_n()

In [32]:
murders %>%
    arrange(murder_rate) %>%
    head(3)

murders %>%
    arrange(desc(murder_rate)) %>%
    head(3)

  state         abb region    population total murder_rate
1 Vermont       VT  Northeast  625741    2     0,3196211
2 New Hampshire NH  Northeast 1316470    5     0,3798036
3 Hawaii        HI  West      1360301    7     0,5145920

  state                abb region        population total murder_rate
1 District of Columbia DC  South          601723     99   16,452753
2 Louisiana            LA  South         4533372    351    7,742581
3 Missouri             MO  North Central 5988927    321    5,359892

In [33]:
murders %>%
    arrange(region, murder_rate) %>%
    head(3)

  state         abb region    population total murder_rate
1 Vermont       VT  Northeast  625741     2    0,3196211
2 New Hampshire NH  Northeast 1316470     5    0,3798036
3 Maine         ME  Northeast 1328361    11    0,8280881