In [18]:
library(tidyverse)
library(NHANES)
library(dslabs)

data(NHANES)
data(na_example)

In [19]:
# mean will return NA if any value in the vector is NA, by default | optional with na.rm
mean(na_example)
mean(na_example, na.rm = TRUE)

[1] NA

[1] 2.301754

In [27]:
tab <- NHANES %>%
    filter(AgeDecade == ' 20-29' & Gender == 'female')

ref <- tab %>%
    summarize(average = mean(BPSysAve, na.rm = TRUE), standard_deviation = sd(BPSysAve, na.rm = TRUE))

ref_avg <- ref %>%
    .$average

In [29]:
NHANES %>%
    filter(Gender == 'female') %>%
    group_by(AgeDecade) %>%
    summarize(average = mean(BPSysAve, na.rm = TRUE),
              standard_deviation = sd(BPSysAve, na.rm = TRUE))

  AgeDecade average   standard_deviation
1  0-9       99.95041  9.071798
2  10-19    104.27466  9.461431
3  20-29    108.42243 10.146681
4  30-39    111.25512 12.314790
5  40-49    115.49385 14.530054
6  50-59    121.84245 16.179333
7  60-69    127.17787 17.125713
8  70+      133.51652 19.841781
9 NA        141.54839 22.908521

In [32]:
NHANES %>%
    group_by(AgeDecade, Gender) %>%
    summarize(average = mean(BPSysAve, na.rm = TRUE),
              standard_deviation = sd(BPSysAve, na.rm = TRUE))

   AgeDecade Gender average   standard_deviation
1   0-9      female  99.95041  9.071798
2   0-9      male    97.41912  8.317367
3   10-19    female 104.27466  9.461431
4   10-19    male   109.59789 11.227769
5   20-29    female 108.42243 10.146681
6   20-29    male   117.85084 11.274795
7   30-39    female 111.25512 12.314790
8   30-39    male   119.40063 12.306656
9   40-49    female 115.49385 14.530054
10  40-49    male   120.78390 13.968338
11  50-59    female 121.84245 16.179333
12  50-59    male   125.75000 17.760536
13  60-69    female 127.17787 17.125713
14  60-69    male   126.88578 17.478117
15  70+      female 133.51652 19.841781
16  70+      male   130.20172 18.657475
17 NA        female 141.54839 22.908521
18 NA        male   136.40000 23.534731

In [38]:
NHANES %>%
    filter(AgeDecade == ' 40-49' & Gender == 'male') %>%
    group_by(Race1) %>%
    summarize(average = mean(BPSysAve, na.rm = TRUE),
              standard_deviation = sd(BPSysAve, na.rm = TRUE)) %>%
    arrange(average)

  Race1    average  standard_deviation
1 White    119.9188 13.42355
2 Other    120.4000 16.20241
3 Hispanic 121.6098 11.06770
4 Mexican  121.8500 13.93756
5 Black    125.8387 17.06707